.catalogSection {
  padding: 32px 0;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 12px;
}
.grid {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 8px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.grid::-webkit-scrollbar {
  display: none;
}
.card {
  min-width: 220px;
  max-width: 240px;
  flex: 0 0 auto;
  scroll-snap-align: start;
}
@media (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 0;
    overflow-x: unset;
    padding-bottom: 0;
    justify-content: center;
  }
  .container {
    padding: 0;
  }
  .card {
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    flex: unset;
    scroll-snap-align: unset;
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
.title {
  font-size: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0;
}
.catalog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 24px;
  color: #333;
  border-bottom: none !important;
  box-shadow: none !important;
}
.catalog-categories {
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  border-bottom: none !important;
}
.catalog-category {
  font-size: 0.9rem;
  color: #333;
  padding: 4px 16px;
  border-radius: 16px;
  background: none;
  cursor: pointer;
  font-weight: 400;
  transition: color 0.2s;
}

@media (max-width: 900px) {
  .catalog-header {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: left;
  }
  .catalog-category  {
    font-size: 0.8rem;
    padding: 4px 12px;
    display: flex;
    text-align: left;
  }
  .catalog-categories {
    justify-content: center;
    width: 70%;
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0;
  }
} 